

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* header */

header{
z-index: 1;
height: 69px;
width: 100%;
border-bottom: 1px solid seashell;
position: fixed;
display: flex;
align-items: center;
background-color: black;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo img{
  padding-left: 10px;
  height: 50px;
}

nav span{
display: inline-block;
text-decoration: underline;
margin: 0 10px;
}

.content{
   margin: 0 auto; /*centralize the content horizontally */
  width: 1200px;
  top: 69px;
  display: flex;
  flex-direction: column;
}

h2.text{
width: 100%;
background-color: black;
display: inline-block;
margin: 0 auto;
padding: 10px 10px;
text-align: center;
}

h4.text{
width: 100%;
background-color: black;
margin: 0 auto;
padding: 10px 10px;
text-align: center;
}

/* big tea image */

.img-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.big-tea-img .img-content{
  position: relative;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  margin-bottom: 50px;
}
/* big tea image */


/* Tea of the Month  */
.content #TofM-content{
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: inherit;
}

.five-image-content{
max-width: 1000px;
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: row;
padding: 10px 0 50px 0;
}


.single-image-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.image-one{
  display: flex;
  width: 300px;
  height: 200px;
  margin: 0 0;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg");
  background-size: 300px 200px;
}



.image-two{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-spiced-rum.jpg");
  width: 300px;
  height: 200px;
  margin: 0 0;
  background-size: 300px 200px;
}


.image-three{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-donut.jpg");
  width: 300px;
  height: 200px;
  margin: 0 0;
  background-size: 300px 200px;
}

.image-four{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-myrtle-ave.jpg");
  width: 300px;
  height: 200px;
  background-size: 300px 200px;
}

.image-five{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg");
  width: 300px;
  height: 200px;
  background-size: 300px 200px;
}

 .caption{
  width: inherit;
  padding: 20px 20px;
  position: relative;
  margin: 0 0;
}
/* Tea of the Month  */
